# coding: utf-8
import os

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': '{{ db_name }}',
        'USER': '{{ db_user }}',
        'PASSWORD': '{{ db_password }}',
        'HOST': os.environ.get('POSTGRESQL_HOST', 'localhost'),
        'PORT': '',
    }
}

DEBUG = {{ django_debug }}
TEMPLATE_DEBUG = DEBUG

STATIC_ROOT = os.path.abspath(os.path.join("{{ virtualenv_path }}", "static"))
MEDIA_ROOT = os.path.abspath(os.path.join("{{ virtualenv_path }}", "media"))

SECRET_KEY = '{{ django_secret_key }}'
