{% extends 'erp_client/base.html' %}

{% block content %}
<h1>Floor List</h1>
{% if object_list %}
<table class="table table-condensed table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Node</th>
        </tr>
    </thead>
    <tbody>
    {% for object in object_list %}
        <tr>
            <td>{{ object.pk }}</td>
            <td><a href="{% url 'floor-detail' object.pk %}">{{ object.name }}</a></td>
            <td><a href="{% url 'node-detail' object.node.pk %}">{{ object.node.name }}</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
    <div class="alert alert-info">There is no Floors defined yet.</div>
{% endif %}
{% endblock %}
