{% extends 'erp_client/base.html' %}

{% block content %}
<div class="page-header">
    <h1>Component List</h1>
</div>

<div class="row-fluid clearfix">
    <div class="col-xs-6 pull-left">
        <a href="{% url 'component-create' %}" class="btn btn-primary">Create Component</a>
    </div>

    <div class="col-xs-6 pull-right">
        <form class="form-inline" method="get" action=".">
            {{ filter_form }}
            <input class="btn btn-xs btn-default" type="submit" value="Filter"/>
        </form>
    </div>
</div>

<hr>

{% if object_list %}
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Kind</th>
            <th>Manufacturer</th>
            <th>Model Name</th>
            <th>Serial Number</th>
            <th>State</th>
            <th>Server</th>
            <th>Properties</th>
        </tr>
    </thead>
    <tbody>
    {% for component in object_list %}
    <tr class="{% if component.is_free %}success{% elif component.is_installed %}info{% elif component.is_broken %}danger{% endif %}">
        <td>{{ component.pk }}</td>
        <td><a href="{% url 'component-detail' component.pk %}">{{ component.name }}</a></td>
        <td>{{ component.kind.name }}</td>
        <td>{{ component.manufacturer }}</td>
        <td>{{ component.model_name }}</td>
        <td>{{ component.serial_number }}</td>
        <td>{{ component.get_state_display }}</td>
        <td>{% if component.is_installed and component.server %}
            <a href="{% url 'server-detail' component.server.pk %}">{{ component.server.get_name }}</a>
            {% else %}
            ---
            {% endif %}
        </td>
        <td>
            <ul>
            {% for prop in component.get_properties %}
            {% with value=prop.value.get_value %}
                <li>{{ prop.title }}:
                    {% if value %}
                        {% if prop.property.is_select_field %}
                            {{ value.name }}
                        {% else %}
                            {{ value }}
                        {% endif %}
                    {% else %}
                    ---
                    {% endif %}
                </li>
            {% endwith %}
            {% endfor %}
            </ul>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
    <div class="alert alert-info" role="alert">There are no Components defined yet.</div>
{% endif %}
{% endblock %}
