{% extends 'erp_client/base.html' %}
{% load crispy_forms_tags %}
{% load erp_client_tags %}

{% block content %}
<div class="page-header">
  <h1>Where to mount to the Server {{ object.get_name }}?</h1>
</div>

{% render_breadcrumbs object %}
<p>Where do you want to mount the Server?</p>
<a href="{% url 'client:server-actions' object.pk %}?action=install_server&amp;position={{ position|default:'' }}">Basket</a> OR
<a href="{% url 'client:server-actions' object.pk %}?action=mount_server&amp;position={{ position|default:'' }}">Rack</a>
{% endblock %}
