{% load erp_client_tags %}

<table class="table table-bordered table-condensed pull-left" style="width:200px; zoom:0.5; margin-right:10px;">
    <tbody>
        <tr>
            <th colspan="2"><a href="{% url 'client:rack-detail' rack.pk %}">{{ rack.name }}</a></th>
        </tr>
        {% for unit in units %}
        <tr>
            <td width="10">{{ unit.id }}</td>
            {% if unit.unit_takes == 1 %}
            <td>{% render_unit unit %}</td>

            {% elif unit.unit_takes > 1 %}
            <td rowspan="{{ unit.unit_takes }}"{% if unit.basket %} style="height:{{ unit.unit_takes|multiply:30 }}px;"{% endif %}>{% render_unit unit %}</td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
