{% extends 'erp_client/base.html' %}

{% block content %}
<h1>Rack List</h1>
{% if object_list %}
<table class="table table-condensed table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Row</th>
            <th>Room</th>
            <th>Floor</th>
            <th>Node</th>
        </tr>
    </thead>
    <tbody>
    {% for object in object_list %}
        <tr>
            <td>{{ object.pk }}</td>
            <td><a href="{% url 'rack-detail' object.pk %}">{{ object.name }}</a></td>
            <td><a href="{% url 'row-detail' object.row.pk %}">{{ object.row.name }}</a></td>
            <td><a href="{% url 'room-detail' object.row.room.pk %}">{{ object.row.room.name }}</a></td>
            <td><a href="{% url 'floor-detail' object.row.room.floor.pk %}">{{ object.row.room.floor.name }}</a></td>
            <td><a href="{% url 'node-detail' object.node.pk %}">{{ object.node.name }}</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
    <div class="alert alert-info">There is no Racks defined yet.</div>
{% endif %}
{% endblock %}
