django==1.8.2
Unipath==0.2.1
psycopg2==2.5.1
gunicorn==18.0
djangorestframework==3.1.1
django-model-utils==2.2
django-fsm==2.2.0

git+https://github.com/alex/django-filter.git

# erp_client
git+https://github.com/maraujop/django-crispy-forms.git

# erp_client_ember
git+https://github.com/ottoyiu/django-cors-headers.git
#git+https://github.com/baffolobill/drf-json-api.git
