{% extends 'erp_client/base.html' %}
{% load erp_client_tags %}

{% block content %}
<div class="page-header">
    <h1>Server Detail <small>[<a href="{% url 'client:server-update' object.pk %}">edit</a>]</small> <small>[<a class="text-danger" href="{% url 'client:server-delete' object.pk %}">delete</a>]</small></h1>
</div>

{% render_breadcrumbs object %}

<table class="table table-condensed">
    <tbody>
        <tr>
            <th width="100">Template</th>
            <td><a href="{% url 'client:servertemplate-detail' object.template.pk %}">{{ object.template.name }}</a></td>
        </tr>
        <tr>
            <th width="100">Basket</th>
            <td>{% if object.basket %}<a href="{% url 'client:basket-detail' object.basket.pk %}">{{ object.basket.name }}</a>{% else %}---{% endif %}</td>
        </tr>
        {% with rack=object.get_rack %}
        <tr>
            <th width="100">Rack</th>
            <td>{% if rack %}<a href="{% url 'client:rack-detail' rack.pk %}">{{ rack.name }}</a>{% else %}---{% endif %}</td>
        </tr>
        <tr>
            <th width="100">Row</th>
            <td>{% if rack %}<a href="{% url 'client:row-detail' rack.row.pk %}">{{ rack.row.name }}</a>{% else %}---{% endif %}</td>
        </tr>
        <tr>
            <th width="100">Room</th>
            <td>{% if rack %}<a href="{% url 'client:room-detail' rack.row.room.pk %}">{{ rack.row.room.name }}</a>{% else %}---{% endif %}</td>
        </tr>
        <tr>
            <th width="100">Floor</th>
            <td>{% if rack %}<a href="{% url 'client:floor-detail' rack.row.room.floor.pk %}">{{ rack.row.room.floor.name }}</a>{% else %}---{% endif %}</td>
        </tr>
        <tr>
            <th width="100">Node</th>
            <td>{% if rack %}<a href="{% url 'client:node-detail' object.node.pk %}">{{ object.node.name }}</a>{% else %}---{% endif %}</td>
        </tr>
        {% endwith %}
        <tr>
            <th>Actions</th>
            <td>
                {% if object.basket %}
                <form style="margin:0;padding:0;display:inline;" method="post" action="{% url 'client:basket-actions' object.basket.pk %}?action=uninstall_server&amp;server_id={{ object.pk }}">{% csrf_token %}
                    [<button type="submit" style="display:inline;margin:0;padding:0;" class="btn btn-link">uninstall</button>]
                </form>
                {% elif object.rack %}
                <form style="margin:0;padding:0;display:inline;" method="post" action="{% url 'client:rack-actions' object.rack.pk %}?action=unmount_server&amp;server_id={{ object.pk }}">{% csrf_token %}
                    [<button type="submit" style="display:inline;margin:0;padding:0;" class="btn btn-link">unmount</button>]
                </form>
                {% else %}
                [<a href="{% url 'client:server-actions' object.pk %}?action=mount">mount</a>]
                {% endif %}
            </td>
        </tr>
    </tbody>
</table>

<h2>Component List <small>[<a href="{% url 'client:server-actions' object.pk %}?action=install_component">install component</a>]</small></h2>

{% if messages %}
    {% for message in messages %}
    <div class="alert alert-info{% if message.tags %} {{ message.tags }}{% endif %}">
        {{ message }}
    </div>
    {% endfor %}
{% endif %}

{% with components=object.get_installed_components %}
{% if components %}
<table class="table table-bordered table-condensed table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Kind</th>
            <th>Manufacturer</th>
            <th>Model Name</th>
            <th>Serial Number</th>
            <th>Properties</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for component in components %}
    <tr>
        <td>{{ component.pk }}</td>
        <td>{{ component.kind.name }}</td>
        <td>{{ component.manufacturer }}</td>
        <td>{{ component.model_name }}</td>
        <td>{{ component.serial_number }}</td>
        <td>
            <ul>
            {% for prop in component.get_properties %}
            {% with value=prop.value.get_value %}
                <li>{{ prop.title }}:
                    {% if value %}
                        {% if prop.property.is_select_field %}
                            {{ value.name }}
                        {% else %}
                            {{ value }}
                        {% endif %}
                    {% else %}
                    ---
                    {% endif %}
                </li>
            {% endwith %}
            {% endfor %}
            </ul>
        </td>
        <td><form method="post" action="{% url 'client:server-actions' object.pk %}?action=uninstall_component&amp;component_id={{ component.pk }}">{% csrf_token %}<input class="btn btn-link" type="submit" value="uninstall"></form></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<div class="alert alert-info">There are no installed components.</div>
{% endif %}
{% endwith %}
{% endblock %}
