{% extends 'erp_client/base.html' %}

{% block content %}
<div class="page-header">
    <h1>Basket List</h1>
</div>

<a href="{% url 'basket-create' %}" class="btn btn-primary">Create Basket</a>

<hr>

{% if object_list %}
<table class="table table-condensed table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Rack</th>
            <th>Row</th>
            <th>Room</th>
            <th>Floor</th>
            <th>Node</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for object in object_list %}
        <tr>
            <td>{{ object.pk }}</td>
            <td><a href="{% url 'basket-detail' object.pk %}">{{ object.name }}</a></td>
            {% if object.rack %}
            {% with rack=object.rack %}
            <td><a href="{% url 'rack-detail' rack.pk %}">{{ rack.name }}</a></td>
            <td><a href="{% url 'row-detail' rack.row.pk %}">{{ rack.row.name }}</a></td>
            <td><a href="{% url 'room-detail' rack.row.room.pk %}">{{ rack.row.room.name }}</a></td>
            <td><a href="{% url 'floor-detail' rack.row.room.floor.pk %}">{{ rack.row.room.floor.name }}</a></td>
            <td><a href="{% url 'node-detail' rack.node.pk %}">{{ rack.node.name }}</a></td>

            <td><form style="margin:0;padding:0;display:inline;" method="post" action="{% url 'basket-actions' object.pk %}?action=unmount_from_rack">{% csrf_token %}[<button type="submit" style="display:inline;margin:0;padding:0;" class="btn btn-link">unmount</button>]</form>&nbsp;[<a href="{% url 'basket-actions' object.pk %}?action=mount_to_rack">change rack</a>]</td>
            {% endwith %}

            {% else %}
            <td colspan="5" class="text-center">---</td>
            <td>[<a href="{% url 'basket-actions' object.pk %}?action=mount_to_rack">mount</a>]</td>
            {% endif %}
        </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
    <div class="alert alert-info">There is no Racks defined yet.</div>
{% endif %}
{% endblock %}
