{% extends 'erp_client/base.html' %}
{% load erp_client_tags %}

{% block content %}
<h1>Room Detail</h1>

{% render_breadcrumbs object %}

<table class="table table-condensed">
    <tbody>
        <tr>
            <th width="100">Floor</th>
            <td><a href="{% url 'floor-detail' object.floor.pk %}">{{ object.floor.name }}</a></td>
        </tr>
        <tr>
            <th width="100">Node</th>
            <td><a href="{% url 'node-detail' object.floor.node.pk %}">{{ object.floor.node.name }}</a></td>
        </tr>
        <tr>
            <th>Rows</th>
            <td>{% for obj in object.row_set.all %}<a href="{% url 'row-detail' obj.pk %}">{{ obj.name }}</a>{% if not forloop.last %},{% endif %}{% endfor %}</td>
        </tr>
    </tbody>
</table>
{% endblock %}
