{% extends 'erp_client/base.html' %}

{% block content %}
<div class="page-header">
    <h1>Room List</h1>
</div>

<a href="{% url 'client:room-create' %}" class="btn btn-primary">Create Room</a>

<hr>

{% if object_list %}
<table class="table table-condensed table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Floor</th>
            <th>Node</th>
        </tr>
    </thead>
    <tbody>
    {% for object in object_list %}
        <tr>
            <td>{{ object.pk }}</td>
            <td><a href="{% url 'client:room-detail' object.pk %}">{{ object.name }}</a></td>
            <td><a href="{% url 'client:floor-detail' object.floor.pk %}">{{ object.floor.name }}</a></td>
            <td><a href="{% url 'client:node-detail' object.floor.node.pk %}">{{ object.floor.node.name }}</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
    <div class="alert alert-info">There is no Rooms defined yet.</div>
{% endif %}
{% endblock %}
