{% extends 'erp_client/base.html' %}
{% load erp_client_tags %}

{% block content %}
<div class="page-header">
    <h1>Server Template Detail <small>[<a href="{% url 'servertemplate-update' object.pk %}">edit</a>]</small> <small>[<a class="text-danger" href="{% url 'servertemplate-delete' object.pk %}">delete</a>]</small></h1>
</div>

{% render_breadcrumbs object %}

<table class="table table-condensed">
    <tbody>
        <tr>
            <th width="100">Name</th>
            <td>{{ object.name }}</td>
        </tr>
        <tr>
            <th>Unit takes</th>
            <td>{{ object.unit_takes }}</td>
        </tr>
        <tr>
            <th>CPU</th>
            <td><table class="table table-condensed table-bordered table-striped" style="width:auto;">
                <thead>
                    <tr>
                        <th>Socket</th>
                        <th>Qty</th>
                    </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{ object.cpu_socket.name }}</td>
                    <td>{{ object.cpu_qty }}</td>
                </tr>
                </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <th>RAM</th>
            <td><table class="table table-condensed table-bordered table-striped" style="width:auto;">
                <thead>
                    <tr>
                        <th>Standard</th>
                        <th>Qty</th>
                    </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{ object.ram_standard.name }}</td>
                    <td>{{ object.ram_qty }}</td>
                </tr>
                </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <th>HDDs</th>
            <td><table class="table table-condensed table-bordered table-striped" style="width:auto;">
                <thead>
                    <tr>
                        <th>Connection Type</th>
                        <th>Form Factor</th>
                        <th>Qty</th>
                    </tr>
                </thead>
                <tbody>
                {% for hdd in object.hdds.all %}
                <tr>
                    <td>{{ hdd.hdd_connection_type.name }}</td>
                    <td>{{ hdd.hdd_form_factor.name }}</td>
                    <td>{{ hdd.hdd_qty }}</td>
                </tr>
                {% endfor %}
                </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>

<h2>Server List</h2>
<table class="table table-striped table-bordered table-condensed">
    <thead>
        <tr>
            <th width="40">ID</th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
    {% for server in object.servers.all %}
    <tr>
        <td>{{ server.pk }}</td>
        <td><a href="{% url 'server-detail' server.pk %}">{{ server.get_name }}</a></td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="2">There are no Servers based on this template.</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
