{% extends 'erp_client/base.html' %}

{% block content %}
<div class="page-header">
    <h1>Server Template List</h1>
</div>

<a href="{% url 'servertemplate-create' %}" class="btn btn-primary">Create Server Template</a>

<hr>

{% if object_list %}
<table class="table table-condensed table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
    {% for object in object_list %}
        <tr>
            <td>{{ object.pk }}</td>
            <td><a href="{% url 'servertemplate-detail' object.pk %}">{{ object.name }}</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
    <div class="alert alert-info">There is no Server Templates defined yet.</div>
{% endif %}
{% endblock %}
